@charset "UTF-8";

 /* 로그인 창  */
 
#loginform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면의 세로 전체 높이를 기준으로 정렬 */
}


#loginform td {
  text-align: center; /* td 내용을 가운데로 정렬 */
  
}

/* 헤더 */
header{position:absoulte;}

h1.home { 
  background: #09F;
  color: white;
  font-size: 24px;
  font-weight: bold;
  height: 55px;
  margin: 0 10px 0 0;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  height: 37px;
}

/* 상단 메뉴바 */
nav#sub_menu {	
  margin: 0 auto;
  left: 0;
  top: 0;
  bottom: 0;
  height: 200px;
  width: 1000px;
  padding: 10px;
  overflow: auto;
  box-sizing: BannerOrder-box;
  background: #f8f8f8;
  display: flex;
  justify-content: center;    
  flex-direction: column;
  align-items: center;
}

nav#sub_menu ul {
  padding: 0;
  margin: 0 auto;
  float: left;
}

nav#sub_menu ul li {
  list-style-type: none;
  margin: 0 auto;
  height: 50px;
  float: left;
}

nav#sub_menu a {
  margin: 0 auto;
  text-decoration: none;
  color: #333;
  width: 126px;
  height: 25px;
  padding: 5px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
   font-family: 'Helvetica Neue', Arial, sans-serif;
}


nav#sub_menu a:hover {
  background-color: #eaeaea;
}
nav#sub_menu h1 {
  padding: 5px;
  margin-top: 10px;
   box-shadow: 3px 3px 3px #999999;
   background-color:  	#eaeaea;
}

/* 풋터 */
 #footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  #09F;
} 
#copy {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

/* 본문 */


article {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
 

}
article h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
}

article td {
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif;
  transition: background-color 0.3s ease;
}


/* 버튼  */
.btn {
  width: 100px;
  background-color: #ADD8E6;
  color: #333;
  text-align: center;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 auto;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  /* 테두리 효과 추가 */
  cursor: pointer;
  
}


.btn:hover {
  background-color: #FFF;
}

.btn:active {
  box-shadow: none;
}

/* 하단 버튼   */
.Bottm-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}




/* 상단 검색 창  */
#OList,
#NList,
#List,
#QList,
#EList,
#MList,
#productList,
#adminMemberList,
#eventList,
#noticeList,
#QnaList,
#productColorList,
.od-inner-left-wrap ,



/* 상품 세부사항 */

#PIList ,
#PDList,
#PUList,
#PCList,
#PCDList,
#orderList,
#PNDList,
#PCIList ,
#PCUList ,
#PNUList ,
#EIList,
#EUList ,
#EDList,
#PNIList,
#BannerUpdateList,
#BannerWrite
{
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', Arial, sans-serif;
  color: #555;
  text-align: center;
}

#OList {
  top: -30px;
}

#NList {
  top: -30px;
}

#List {
  top: -30px;
}

#MList {
  top: -30px;
}

#EList {
  top: -30px;
}

#QList {
  top: -30px;
}
body {
 
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면의 세로 전체 높이를 기준으로 정렬 */
}

/* 테이블 데이터  */

#productList td,
#BannerWrite td,
#adminMemberList td,
#eventList td,
#noticeList td,
#QnaList td,
#orderList td,
#productList th,
#adminMemberList th,
#QnaList th,
#eventList th,
#noticeList th,
#PIList th,
#PDList th,
#PUList th,
#PCList th,
#PCUList th,
#PCDList th,
#productColorList th,
#PCIList th,
#PNDList th,
#PNUList th,
#PNIList th,
#EIList  th,
#EUList  th,
#EDList th,
.od-inner-left-wrap th,
#orderList th,
#BannerUpdateList th, 
#BannerWrite th{
  padding: 10px;
  text-align: center;
  background-color: #f7f7f7;
  transition: background-color 0.3s ease;
}

#productList td:hover,
#orderList td:hover  {
  background-color: #e0e0e0;
  cursor: pointer;
}
.btn,
#loginform,
#productList th,
#BannerWrite th,
#adminMemberList th,
#QnaList th,
#eventList th,
#noticeList th,
#PUList th,
#PCList th,
#PCUList th,
#PCDList th,
#productColorList th,
#PCIList th,
#PNDList th,
#PNUList th,
#PNIList th,
#EIList  th,
#EUList  th,
#EDList th,
.od-inner-left-wrap th,
#orderList th,
#BannerUpdateList th,
#BannerWrite th
{
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
  color: blue;
  font-weight: bold;
}
#PIList th{
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
  color: blue;
  font-weight: bold;
  width:50;
}

#bannerbtn{
  padding: 10px;
  float: right;
  background-color: #f2f2f2;
  color: blue;
  font-weight: bold;
  width:50;
   text-align:center;
}


 #bannerTd{
  position: relative;
  left: 1300px;
  width:0px;
  height: 0px;
  text-align:center;
  
  
}


#BannerWriteButton td {
  position: relative;
  text-align: center;
  left: 800px;
}

#BannerWriteButton input.btn {
  display: inline-block;
}

#BannerOrder td {
  position: relative;
  float:left;
  text-align: center;
  left: 800px;
}

#BannerUpdateButton td {
  position: relative;
  text-align: center;
  left: 800px;
}

#BannerUpdateButton input.btn {
  display: inline-block;
}
#PDList th
{
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
  color: blue;
  font-weight: bold;
  width: 20%;
}

#PUList/* #content */ td,
#PIList td,
#PNIList td,
#EIList td,
#PCIList td,	
#BannerUpdateList td,
#BannerWrite td,
#BannerOrder td 
{
	float:left;
	 
	
}



/* 폰트  */

* {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

 body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1.home {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav#sub_menu {
  font-family: 'Roboto', Arial, sans-serif;
}

#productList,#adminMemberList  th,
#productList,#adminMemberList  td {
  font-family: 'Open Sans', Arial, sans-serif;
} 


/* 주문상세 */
.admin-orderdetail-wrap {
	width: 1370px;
	min-height: 710px;
}
#admin-orderdetail-combobox {
	width: 90px;
	height: 30px;
	font-size: 17px;
}

 /* 테이블 크기 조절 */
 #PDList,
 #orderList,
 #adminMemberList,
 #QnaList,
 #noticeList,
 #eventList,
 #PNIList,
 #PIList ,
#PUList,
#PCList,
#PCDList,
#PNDList,
#PCIList ,
#PCUList ,
#PNUList ,
#EIList,
#EUList ,
#EDList,
#PNIList
 {
 width: 1000px;
 }
 
